@media screen and (max-width: 768px) {
  main {
    background-image: url(assets/header-illsutration-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  position: sticky;
  width: 100%;
  top: 0;
  margin-bottom: 3.2em;
  height: 1em;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #fff;
}

.heading-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 376px;
  width: 86%;
  height: 696px;
}

.text-container {
  max-width: 376px;
  width: 92.75vw;
}

.primary {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: calc(40px + 0.348934vw);
  line-height: 52px;
}

.supporting-text {
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(20px + 00.348934vw);
  line-height: 28px;
  text-align: center;
}


.nav-btn {
  height: 3em;
  width: 3em;
  padding: 0.6em;
  animation-duration: 0.5s;
  animation-name: obj-scale;
}

#logo {
  padding: 0.6em 0.75em;
  width: 3em;
  height: 3em;
  border-radius: 1.25em;
  animation-duration: 0.5s;
  animation-name: obj-scale;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 1em;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icons li {
  list-style-type: none;
  margin-right: 1em;
}

.color1 { color: #172b4d; }
.color2 { color: #36b37e; }
