@media screen and (max-width: 767px) {
    main {
      background-image: url(../assets/header-illsutration-mobile.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  
    .nav-desktop {
      display: none;
    }
  
    .header {
      display: block;
    }
  
    .primary {
      text-align: center;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 2.8em;
      line-height: 1.2em;
    }
  

  }
  