@media screen and (max-width: 767px) {
    main {
      background-image: url(../assets/header-illsutration-mobile.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  
    .nav-desktop {
      display: none;
    }
  
    .header {
      display: block;
    }

  }
  