@media screen and (max-width: 767px) {
    main {
      background-image: url(../assets/header-illsutration-mobile.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  
    .nav-desktop {
      display: none;
    }
  
    .header {
      display: block;
    }
  
    .primary {
      text-align: center;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 2.8em;
      line-height: 1.2em;
    }
  
    .supporting-text {
      color: #172b4d;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 1.3em;
      line-height: 1.3em;
      text-align: center;
      animation-duration: 0.5s;
      animation-name: obj-scale;
    }
  
    .text-container {
      max-width: 367px;
      width: 342px;
    }
  
    .text-container .intro {
      display: block;
      margin-left: 1em;
      width: 250px;
    }
  
    .headline .bottom-arrow {
      margin-top: 1.5em;
      margin-bottom: 1em;
    }
  
    .btn-container {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 70px;
    }

  }
  